{% extends "network/layout.html" %}

{% block body %}

	{% if message %}
	        <div><font color="green">{{ message }}</font></div>
	        <br>
	{% endif %}
	{% if error %}
	    <div><font color="red">{{ error }}</font></div>
	    <br>
	{% endif %}    
    {% for row in rows %}
    	<label>Text: </label> {{row.post_text}}
    	<br>
    	<label>Posted By: </label> {{row.posted_by}}
    	<br>
    	<label>Posted At: </label> {{row.posted_at}}
    	<br>
    	<label>Likes: </label> {{row.likes_count}}
    	<br>
    	<br>
    {% endfor %}


{% endblock %}
