{% extends "network/layout.html" %}

{% block body %}

    {% if messages %}
    <ul class="messages">
        {% for msg in messages%}
        <li>
            <div class="alert alert-{{msg.level_tag}}" role="alert">
                {{msg.message}}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% for post in posts %}
        <label>Text: </label> {{post.post_text}}
        <br>
        <label>Posted By: </label>
        <a href="{% url 'user_info' user_id=post.posted_by.id%}">
        {{post.posted_by}}
        </a>
        <br>
        <label>Posted At: </label> {{post.posted_at}}
        <br>
        <label>Likes: </label> {{post.likes_count}}
        <a href="{% url post.react.lower post_id=post.post_id %}">{{post.react}}</a>
        <br>
        <br>
    {% endfor %}
    {% if posts.number %}
        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ posts.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    &nbsp(Page {{ posts.number }} of {{ posts.paginator.num_pages }})
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">next</a>
                    <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}


{% endblock %}
