{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <div class="container col-md-6 col-md-offset-3 centered-form center-block background" onclick="clickHandler(event)">

        {% if messages %}
            <ul class="messages">
                {% for msg in messages%}
                <li>
                    <div class="alert alert-{{msg.level_tag}}" role="alert">
                        {{msg.message}}
                    </div>
                </li>
                {% endfor %}
            </ul>
        {% endif %}

        <h2>{{target_user}}</h2>

        {% if action %}
            {% if action == "Follow" %}
                <button type="button" class="btn btn-outline-primary" id="follow"  data-userid="{{ target_user.id }}" data-buttonWork="follow" >{{action}}</button>
            {% else %}
                <button type="button" class="btn btn-dark" id="follow" data-userid="{{ target_user.id }}" data-buttonWork="unfollow">{{action}}</button>
            {%  endif %}
        {% endif %}


        <span>{{following_count}}</span>
        <span style="color: gray; margin-right: 80px;">Following </span>
        <span id="{{ target_user.id }}">{{followers_count}}</span>
        <span style="color: gray;">Followers </span>
        <br><br>
        <hr>

        {% for post in posts %}
            
            <div class="row">
                <div class="panel">                    
                    <div class="toprow">
                        <div class="post-author">
                            {{post.posted_by}}
                        </div>

                        <span class="post-date">
                             {{post.posted_at}}  
                        </span>
                    </div>    

                    <div class="post-text">
                        <span style="white-space: pre-line">{{post.post_text}}</span>
                    </div>
                    <br> 

                    <span class="likes">
                        <span id="{{ post.post_id }}" class="text-secondary"> {{post.likes_count}} </span> &nbsp;
                        {% if post.react == "Unlike" %}
                            <i class="fa fa-thumbs-up text-primary" data-buttonid="{{ post.post_id }}" data-buttonWork="unlike"></i>
                        {% else %}
                            <i class="far fa-thumbs-up text-secondary" data-buttonid="{{ post.post_id }}" data-buttonWork="like"></i>
                        {% endif %}                    
                    </span>      

                    {% if allow_edit %}
                        <i class="far fa-edit text-secondary"></i>
                        <button class="save-btn btn btn-primary" data-id="{{ post.post_id }}"> Save </button>
                    {% endif %}    

                </div>
            </div>     

        {% endfor %}

        {% if posts.number %}
            <ul class="pagination centered block">
                {% if posts.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">previous</a></li>
                {% endif %}

                <span class="current" style="color: gray;">
                    &nbsp;(Page {{ posts.number }} of {{ posts.paginator.num_pages }})&nbsp;
                </span>

                {% if posts.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}"> next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}">last &raquo;</a></li>
                {% endif %}
            </ul>
        {% endif %}
        </div>
    </div>
    <script src="{% static 'network/follow.js' %}"></script>
    {% csrf_token %}
    <script src="{% static 'network/likeUnlike.js' %}"></script>

{% endblock %}